<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../Asset/LoginStyle.css" />
  </head>
  <body>
    <form>
      <div class="wrapper">
        <div class="title">Login</div>

        <div class="inputfield">
          <label>Account Number</label>
          <input
            type="number"
            value=""
            name="accNum"
            class="input"
            id="accNum"
            placeholder="Enter Your Account Number"
            required
          />
        </div>

        <div class="inputfield" id="inputfield">
          <label>Password</label>
          <input
            type="password"
            value=""
            name="password"
            class="input"
            id="password"
            placeholder="Enter your password"
            required
          />
          <small id="small"></small>
        </div>

        <div class="inputfield">
          <input
            class="btn"
            type="button"
            name=""
            value="login"
            onclick="loginCheck()"
          />
        </div>
        <div class="inputfield">
          <p>Dont have an account?</p>
          <a href="../View/Registration.php">SignUp</a>
        </div>
      </div>
    </form>
  </body>
  <script src="../Asset/LoginValidation.js"></script>
</html>
