<!DOCTYPE html>
<html>
  <head>
    <title>Deposit</title>
    <link rel="stylesheet" href="../Asset/DepositStyle.css" />
  </head>
  <body>
    <div class="welcome">
      <div class="welcometext">Welcome MD. Rahamatullah</div>
      <div class="goback"><a href="#">GoBack</a></div>
    </div>
    <div class="deposit">
      <div class="text">
        Enter Amount You Want to Withdraw :
        <input
          type="number"
          name="withdraw"
          id="withdraw"
          class="input"
          value=""
          placeholder="Withdraw amount"
        />
        <button class="btn">Confirm</button>
        <button class="btn">Cancel</button>
      </div>
    </div>
  </body>
</html>
