@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: #fff;
  padding: 0 10px;
}
.welcome {
  width: 100%;
  background: #fec107;
  margin-top: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.welcome .welcometext {
  font-size: 30px;
  font-weight: 700;
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.deposit {
  position: relative;
  width: 100%;
  background: #fff;
  margin-top: 10px;
  box-shadow: 4px 4px 8px rgba(14, 9, 9, 0.125);
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 6px solid #fec107;
}

.deposit .text {
  font-size: 25px;
  font-weight: 500;
  margin: auto;
  color: #fec107;
  /* padding-left: 100px; */
  /* padding: auto; */
  text-align: center;
}
.welcome .goback {
  width: 9%;
  position: relative;
  bottom: 37px;
  right: 660px;
  margin: auto;
}

.welcome .goback a {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.welcome .goback a:hover {
  font-size: 32px;
  font-weight: 900;
  color: #0000ff;
  text-decoration: underline;
}

.deposit .input {
  /* position: relative; */
  /* left: 470px;
  bottom: 34px; */
  width: 20%;
  outline: none;
  border: 2px solid #ffd658;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.deposit .input:focus,
.deposit .input:hover {
  border: 3px solid #fec107;
}

.deposit .btn {
  width: 10%;
  padding: 8px 10px;
  font-size: 18px;
  border: 0px;
  background: #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
}

.deposit .btn:hover {
  background: #ffd658;
}
